.tab-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.tab-content {
  flex: 1;
  overflow: hidden;
}

.dream-tabs {
  --background: var(--menu-background-color);
  --color: var(--color-text-primary);
  --color-selected: var(--menu-tab-button);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  --ion-color-primary: var(--menu-tab-button);

  ion-tab-button {
    --color: var(--color-text-secondary);

    &.tab-selected {
      --color: var(--color-text-primary);

      ion-icon {
        color: var(--color-accent);
      }
    }

    ion-icon {
      font-size: 24px;
      margin-bottom: 4px;
    }

    ion-label {
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.menu-add {
  --background: var(--menu-add-button);
  --color: var(--color-text-primary);
}
