<div class="tab-container">
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>

  <ion-tab-bar class="dream-tabs" slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/calendar']" routerLinkActive="tab-selected" class="">
      <ion-icon name="calendar" ios="calendar-outline" md="calendar"></ion-icon>
      <ion-label i18n="@@tabs.calendar" class="text-xs font-medium">Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/history']" routerLinkActive="tab-selected" class="">
      <ion-icon name="time" ios="time-outline" md="time"></ion-icon>
      <ion-label i18n="@@tabs.history" class="text-xs font-medium">Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openAddDream()" class="">
      <ion-icon name="add" ios="add-outline" md="add" class="text-3xl add-button"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/ai']" routerLinkActive="tab-selected" class="">
      <ion-icon name="sparkles-sharp"></ion-icon>
      <ion-label i18n="@@tabs.ai" class="text-xs font-medium">IA</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/tabs/profile']" routerLinkActive="tab-selected" class="">
      <ion-icon name="person" ios="person-outline" md="person"></ion-icon>
      <ion-label i18n="@@tabs.profile" class="text-xs font-medium">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <div id="add-dream-modal" #modalOpener="appShowDreamsList" appShowDreamsList></div>
</div>