.add-dream-content {
  --background: #171729;
}

.dream-toolbar {
  --background: #2c3a49;
  color: #fff;
}

.save-btn-header {
  margin-right: 8px;
  font-size: 18px;
  font-weight: bold;
}

.dream-form {
  padding: 24px 16px 100px 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #fff;
}

.title-input {
  font-size: 1.4em;
  font-weight: 700;
  color: #b1b1b5;
  margin-bottom: 6px;
  --background: transparent;
}

.desc-input {
  --background: transparent;
  color: #b1b1b5;
  font-size: 1em;
  margin-bottom: 0;
}

.dream-date-row {
  display: flex;
  align-items: center;
  background: #23233d;
  border-radius: 8px;
  padding: 12px 20px;
  color: #cdcdcd;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 12px;
  gap: 14px;
}

.tags-section {
  margin-top: 14px;
}

.tags-title {
  font-weight: 600;
  color: #b1b1b5;
  margin-bottom: 8px;
  font-size: 1em;
}

.tags-chips {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

ion-chip[color="warning"] {
  background: #ffd600;
  color: #2c2c2c;
  font-weight: 600;
}

.add-tag {
  border: 1.5px dashed #37384c;
  background: transparent !important;
  color: #9090a7 !important;
  font-style: italic;
  cursor: pointer;
  font-weight: 500;
}

.add-tag-icon {
  margin-right: 4px;
}

.fab-area {
  margin-bottom: 20px;
  margin-right: 18px;
  z-index: 100;
  display: flex;
  gap: 18px;
}