<ion-header>
  <ion-toolbar class="dream-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ selectedDate | date:'MMM d, yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveDream()" [disabled]="!canSave()" class="save-btn-header">
        <span style="color: #ffd600; font-weight: 600;">Save</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div class="form-title-wrapper">
      <ion-input [(ngModel)]="dreamData.title" placeholder="Dream Title" class="title-input"
        maxlength="100"></ion-input>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="add-dream-content">
  <div class="dream-form">
    <div class="form-body-wrapper">
      <ion-textarea autoGrow="true" [(ngModel)]="dreamData.description" placeholder="Describe your dream..." rows="16"
        maxlength="2000" class="desc-input"></ion-textarea>
      <div class="tags-section">
        <div class="tags-title">Tags</div>
        <div class="tags-chips">
          <ion-chip *ngFor="let tag of tags" (click)="toggleTag(tag)">
            <ion-icon [name]="tag.checked ? 'checkmark-circle-outline' : 'ellipse-outline'" class="tag-check-icon"
              aria-hidden="true"></ion-icon>
            {{ tag.name }}
          </ion-chip>
          <ion-chip class="add-tag" outline="true" id="open-modal">
            <ion-icon name="add" class="add-tag-icon"></ion-icon>
            Add Tag
          </ion-chip>
        </div>
      </div>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-area">
    <ion-fab-button color="success" (click)="startRecording()">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="warning" (click)="saveDream()">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>