:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  pointer-events: all;
}

.splash-container {
  height: 100%;
  width: 100%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
