<div class="splash-container">
  <div class="splash-content">
    <div class="logo-container">
      <div class="dream-logo">🌙</div>
      <h1 class="app-title">{{ "SPLASH.TITLE" | translate }}</h1>
      <p class="app-description">
        {{ "SPLASH.DESCRIPTION" | translate }}
      </p>
    </div>

    <div class="action-container">
      <ion-button
        expand="block"
        class="continue-button"
        (click)="goToCalendar()"
      >
        <span>{{ "SPLASH.CONTINUE" | translate }}</span>
      </ion-button>
    </div>
  </div>
</div>
