.splash-container {
  height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
