<div class="splash-container">
  <div class="splash-content">
    <div class="logo-container">
      <div class="dream-logo">
        🌙
      </div>
      <h1 class="app-title" i18n="@@splash.title">Dream Journal</h1>
      <p class="app-description" i18n="@@splash.description">
        Organiza tus sueños y regístralos en un calendario, ya sea escribiendo texto o grabando voz.
      </p>
    </div>
    
    <div class="action-container">
      <ion-button 
        expand="block" 
        class="continue-button"
        (click)="goToCalendar()">
        <span i18n="@@splash.continue">Continuar al Calendario</span>
      </ion-button>
    </div>
  </div>
</div>
