<ion-header>
  <ion-toolbar class="dream-toolbar dream-toolbar-row">
    <ion-title>{{ "DREAM_LIST.TITLE" | translate }} - {{ getFormattedDate() }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dream-container">
  <div class="dreams-container">
    <div class="dreams-list" *ngIf="dreams.length > 0">
      <div class="dream-row" *ngFor="let dream of dreams; trackBy: trackByDream">
        <div class="dream-date-col">
          <div class="date-label">
            {{ dream.date | date : "MMM" | uppercase }}
          </div>
          <div class="date-day">{{ dream.date | date : "dd" }}</div>
        </div>
        <div class="dream-card modern-card" (click)="viewDream(dream)">
          <div class="dream-main">
            <div class="dream-title">{{ dream.title }}</div>
            <div class="dream-desc">
              {{ getTruncatedDescription(dream.description || "") }}
            </div>
            <div class="dream-tags" *ngIf="dream.tags?.length">
              <ion-chip *ngFor="let tag of dream.tags" class="dream-tag">{{
                tag
                }}</ion-chip>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Empty State -->
    <div class="empty-state" *ngIf="dreams.length === 0">
      <app-no-dreams></app-no-dreams>
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" class="fab-center">
  <ion-fab-button class="menu-add" (click)="openAddDream()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div id="add-dream-modal" #modalOpener="appShowDreamsList" appShowDreamsList></div>