<div class="onboarding-container">
  <!-- Skip Button (Fixed Top) -->
  <div class="skip-zone">
    <button class="skip-btn" (click)="skip()">Skip</button>
  </div>

  <!-- Swiper Slides (Middle) -->
  <swiper-container #swiper>
    <swiper-slide *ngFor="let slide of onboardingSlides">
      <div class="slide-content">
        <!-- Icon Container -->
        @if(!slide.icon.includes("assets")){
        <div class="icon-container">
          <div class="icon-wrapper glowing-image">
            <ion-icon [name]="slide.icon"></ion-icon>
          </div>
        </div>
        }@else {
        <img
          [src]="slide.icon"
          [width]="slide.width"
          [height]="slide.height"
          [class]="slide.class"
          alt=""
        />
        }

        <!-- Content -->
        <div class="text-content">
          <h1>{{ slide.title }}</h1>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- Bottom Controls (Fixed Bottom) -->
  <div class="bottom-controls">
    <!-- Pagination Dots -->
    <div class="pagination-dots">
      <span
        *ngFor="let slide of onboardingSlides; let i = index"
        class="dot"
        [class.active]="i === currentSlideIndex"
      >
      </span>
    </div>

    <!-- Action Button (Mutates from Next to Sign In) -->
    <div class="action-container">
      <button
        *ngIf="currentSlideIndex < onboardingSlides.length - 2"
        class="next-btn"
        (click)="nextSlide()"
      >
        Next
      </button>

      <button
        *ngIf="currentSlideIndex === onboardingSlides.length - 2"
        class="notifications-btn"
        (click)="(1)"
      >
        Activate notifications
      </button>

      <button
        *ngIf="currentSlideIndex === onboardingSlides.length - 1"
        class="signin-btn"
        (click)="loginGoogle()"
        [disabled]="isUserLoggedIn"
        [ngClass]="{ isDisabled: isUserLoggedIn }"
      >
        <img src="assets/svgs/google.svg" width="32" height="32" alt="" />
        @if(!isUserLoggedIn && !isConnectingGoogle){ Sign In with Google }
        @if(!isUserLoggedIn && isConnectingGoogle){
        <ion-spinner name="crescent"></ion-spinner>

        }@if(isUserLoggedIn && !isConnectingGoogle){ You are already logged in }
      </button>
    </div>
  </div>
</div>
